<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.6.1.min.js">
		</script>
		<script src="/socket.io/socket.io.js">
		</script>

		<link href="http://highlightjs.org/static/styles/github.css" rel="stylesheet">
		<script src="http://highlightjs.org/static/highlight.pack.js">
		</script>

		<script src="/static/js/growl.js">
		</script>
		<script type="text/javascript" src= "http://cdn.mathjax.org/mathjax/latest/MathJax.js">
			MathJax.Hub.Config({
			    extensions: ["tex2jax.js"],
			    jax: ["input/TeX", "output/HTML-CSS"],
			    tex2jax: {
			        inlineMath: [['$', '$']], //, ['\\(','\\)']]
			    },
			    messageStyle: 'none', // hide status messages
			});
			MathJax.Hub.Startup.onload();
		</script>
		<script src="/static/js/presenter.js">
		</script>
		<script>
			$(document).ready(function(){
				init_presenter({
					"event_id": "[% event.id %]"
				});
			});
		</script>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href="/static/css/growl.css" rel="stylesheet">
		<link href="/static/css/presenter.css" rel="stylesheet">
	</head>
	<body>
		<div id="score_board" class="screen">
			<h1>Score Board</h1>
			<div id="scores">
				<table>
					<col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" />
					<thead>
						<tr>
							<th></th>
							<th>
								Name
							</th>
							<th>
								Score
							</th>
							<th>
								Status
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">
								Loading...
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="game_board" class="screen">
			<h1>Round <span class="round_title">?</span></h1>
			<table>
				<tr>
					<td id="question_pane">
						<h2 class="question_level">Grade ? Question</h2>
						<div id="question_text">
							?
						</div>
					</td>
					<td id="results_pane">
						<h2>Results</h2>
						<div id="results_list">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="results_panel" class="screen">
			<h1>Results</h1>
			<h2>Round <span class="round_title">?</span>: <span class="question_level">Grade ? Question</span></h2>
			<div id="results">
				<table id="summary">
					<thead>
						<tr>
							<th>
								Answer
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="results_answer">
							</td>
						</tr>
					</tbody>
				</table>
				<table id="points">
					<col width="10%" /><col width="40%" /><col width="10%" /><col width="40%" />
					<thead>
						<tr>
							<th></th>
							<th>
								Name
							</th>
							<th class="time">
								Time
							</th>
							<th>
								Points
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">
								Loading...
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
