<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Quiz Show Admin</title>
		<script src="/socket.io/socket.io.js">
		</script>
		<link rel="stylesheet" type="text/css" href="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/resources/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/examples/ux/css/Spinner.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
		<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/adapter/ext/ext-base.js">
		</script>
		<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/ext-all.js">
		</script>
		<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/examples/ux/Spinner.js">
		</script>
		<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/examples/ux/SpinnerField.js">
		</script>
		<script type="text/javascript" src="http://extjs-public.googlecode.com/svn/tags/extjs-3.4.0/release/examples/ux/CheckColumn.js">
		</script>
		<script type="text/javascript" src= "http://cdn.mathjax.org/mathjax/latest/MathJax.js">
			MathJax.Hub.Config({
			    extensions: ["tex2jax.js"],
			    jax: ["input/TeX", "output/HTML-CSS"],
			    tex2jax: {
			        inlineMath: [['$', '$']],
			    },
			    messageStyle: 'none', // hide status messages
			});
			MathJax.Hub.Startup.onload();
		</script>
		<script type="text/javascript" src="/static/js/admin.js">
		</script>
		<script type="text/javascript">
			init_admin('[% c.sessionid %]');
		</script>
	</head>
	<body>
		<div id="main">
		</div>
	</body>
</html>
