<!DOCTYPE html>
<html lang="en">

[% title = 'Login' %]
[% INCLUDE sub/head.tt %]

  <body>

[% INCLUDE sub/header.tt %]

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" name="email" class="form-control" placeholder="Email address" value="[% c.req.param('email') | html %]" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  <p>
	    <a href="[% c.uri_for('/signup', { 'email' => c.req.param('email') } ) | html %]">Register now</a> or
	    <a href="[% c.uri_for('/forgot', { 'email' => c.req.param('email') } ) | html %]">get password help</a>.
	  </p>
      </form>

[% INCLUDE sub/footer.tt %]

  </body>
</html>

