<!DOCTYPE html>
<html lang="en">

[% title = 'Reset Password' %]
[% INCLUDE sub/head.tt %]

  <body>

[% INCLUDE sub/header.tt %]

	<div class="page-header">
		<h1>Reset password</h1>
	</div>

      <form class="form-signin" method="post">
        <input type="password" name="password" class="form-control" placeholder="Enter password" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save and Login</button>
      </form>

[% INCLUDE sub/footer.tt %]
  </body>
</html>

